# Node.js dependencies
node_modules/

# Mac system files
.DS_Store

# Temporary folders
.tmp/
tmp/

# Build output
dist/

# Log files
npm-debug.log*

# Editor configs
.vscode/launch.json

# Yarn lockfile (if using npm)
yarn.lock

# Custom scripts
run-build.bat
run-open.bat
